.section-head{
    color: black;
    text-align: center;
}
.section-head::after{
    background-color: rgb(255, 55, 55);
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 10px auto;
}
#dish-container{
    background-color: rgb(199, 59, 59);
    margin: 0;
}
.dish{
    background-color: black;
    display: grid;
}
.view-more{
    height: 100%;
}
.view-more button{
    height: 75px;
    width: 75px;
    background-color: black;
}
.view-more button i{
    font-size: 25px;
    width: 50px;
    color: white;
}
.carousel-item img{
    object-fit: cover;
    margin: 20px auto;
}